# Explore here

It's recommended to use this notebook for exploration purposes.

For example: 

1. You could import the CSV generated by python into your notebook and explore it.
2. You could connect to your database using `pandas.read_sql` from this notebook and explore it.

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

In [6]:
df_raw = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv', sep=';')

In [7]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [9]:
df_raw.sample(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
31309,41,admin.,married,high.school,no,no,no,cellular,may,wed,...,1,999,1,failure,-1.8,92.893,-46.2,1.334,5099.1,no
27574,34,admin.,single,university.degree,no,no,no,cellular,nov,fri,...,3,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,no
29212,42,blue-collar,married,basic.6y,no,yes,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
16566,26,admin.,single,university.degree,no,no,yes,cellular,jul,wed,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
8170,41,unemployed,married,university.degree,unknown,no,no,telephone,jun,tue,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
37710,35,blue-collar,divorced,high.school,no,no,no,cellular,aug,thu,...,1,3,1,success,-2.9,92.201,-31.4,0.851,5076.2,yes
31043,31,blue-collar,single,basic.9y,unknown,yes,yes,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,no
20506,35,management,married,university.degree,no,no,no,cellular,aug,tue,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
25425,38,technician,divorced,high.school,no,no,no,telephone,nov,wed,...,5,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no
1976,28,technician,single,professional.course,no,yes,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no

In [10]:
df_raw['job'].value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [12]:
df_raw['education'].value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [13]:
df_raw['housing'].value_counts()

yes        21576
no         18622
unknown      990
Name: housing, dtype: int64

In [14]:
df_raw['loan'].value_counts()

no         33950
yes         6248
unknown      990
Name: loan, dtype: int64

In [15]:
df_raw['contact'].value_counts()

cellular     26144
telephone    15044
Name: contact, dtype: int64

In [16]:
df_raw['campaign'].value_counts()

1     17642
2     10570
3      5341
4      2651
5      1599
6       979
7       629
8       400
9       283
10      225
11      177
12      125
13       92
14       69
17       58
16       51
15       51
18       33
20       30
19       26
21       24
22       17
23       16
24       15
27       11
29       10
28        8
26        8
25        8
31        7
30        7
35        5
32        4
33        4
34        3
42        2
40        2
43        2
56        1
39        1
41        1
37        1
Name: campaign, dtype: int64

In [17]:
df_raw['job'] = pd.Categorical(df_raw['job'])
df_raw['marital'] = pd.Categorical(df_raw['marital'])
df_raw['housing'] = pd.Categorical(df_raw['housing'])

In [27]:
df_raw.groupby(['y','job','default'])[['y']].size()

y    job          default
no   admin.       no         7846
                  unknown    1224
                  yes           0
     blue-collar  no         5602
                  unknown    3014
                             ...
yes  unemployed   unknown      14
                  yes           0
     unknown      no           30
                  unknown       7
                  yes           0
Length: 72, dtype: int64